.heading-border{
    margin: 2px 0 ;
}
.skills{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
.skill{
    margin-right: 8px;
    /* background-color: #4b5769; */
    background-image: linear-gradient(rgba(20,50,68,255),rgba(50,42,110,255));
    padding:  8px 12px;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    font-weight: 600;
}
.skill:hover{
    background-color: #444d5a;
    cursor:horizontal-text;
}