
.skills{
    display: flex;
    flex-wrap: wrap;
}
.skill{
    margin-right: 8px;
    background-color: #4b5769;
    padding:  2px 6px;
    border-radius: 3px;
}
.skill:hover{
    background-color: #444d5a;
    cursor:horizontal-text;
}