form{
    background-color: #172a45;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 50%;
    margin: auto;
    padding: 20px;
}
input, textarea{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

@media only screen and (max-width:688px) {
    form{
        width: 75%;
    }
}
